# FOLLOWER RECOMMENDER

IMPORT NECESSARY LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
print(os.listdir("C:\\Users\\ERY\\Desktop\\lucid"))

['following.csv', 'posts.csv', 'users.csv']

In [3]:
user = pd.read_csv("C:\\Users\\ERY\\Desktop\\lucid\\users.csv")
user.columns

Index(['id', 'name', 'short_bio'], dtype='object')

In [4]:
user.head(10)

,id,name,short_bio
0,1,Eniayomi Oluwaseyi,Software Developer | DevOPs Engineer
1,2,Elijah Okokon,Web Developer
2,3,Jeffrey Ogah,Front End Developer | React Developer | Mentor...
3,4,Oluwaseyi Oluwapelumi,| Software Developer | DevOps Engineer | @linu...
4,5,PoRH,I Am lamar and you don't think am real?
5,6,Seyi Onifade,My Open Diary
6,7,Mark Essien,An engineer
7,8,Alex Moses,"Software Developer hotelsng, Ex. Frontend deve..."
8,9,Edmund Ekott,Front-end Engineer ðŸ’» | FIFA advocate ðŸŽ® | Ninja ðŸ¥‹
9,10,Stefan aGz,Here

In [5]:
user.shape

(2293, 3)

In [6]:
user['short_bio'].head(5)

0                 Software Developer | DevOPs Engineer
1                                        Web Developer
2    Front End Developer | React Developer | Mentor...
3    | Software Developer | DevOps Engineer | @linu...
4              I Am lamar and you don't think am real?
Name: short_bio, dtype: object

In [7]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

In [9]:
#Replace NaN with an empty string
user['short_bio'] = user['short_bio'].fillna('')

In [10]:
#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(user['short_bio'])

In [11]:
#Output the shape of tfidf_matrix
# this produces the number of different words used by user in the short_bio
tfidf_matrix.shape

(2293, 2242)

In [12]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

In [13]:
# Compute the cosine similarity matrix
consine_sim = linear_kernel(tfidf_matrix, tfidf_matrix, True)

In [15]:
#Construct a reverse map of indices and user name
indices = pd.Series(user.index, index=user['name']).drop_duplicates()

In [16]:
# Function that takes in user name as input and outputs most similar users
def get_followers(name, consine_sim=consine_sim):
    # Get the index of the users that matches the user
    idx = indices[name]
    # Get the pairwsie similarity scores of all users with that user
    sim_scores = list(enumerate(consine_sim[idx]))
    # Sort the users based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # Get the scores of the 10 most similar users
    sim_scores = sim_scores[1:11]
     # Get the user indices
    follow_indices = [i[0] for i in sim_scores]
      # Return the top 10 most similar user
    return user['name'].iloc[follow_indices]

In [17]:
get_followers('Nedu Robert')

235     Alexander Ibrahim
877           taiwo coker
1667            Uche Jude
1902          Nedu Robert
2051       victor ugwueze
2057          Kenneth Kae
1267        Ahmed Ibrahim
1732     Olawale Oguntade
6             Mark Essien
665     Tolulope Ogunfuwa
Name: name, dtype: object